#header-row {
  background-color: #BEDB39;
  font-family: 'Bungee', cursive;
  color: #1F8A70;
  font-size: 24pt;
  padding-top: .5rem;
  }

img {
  padding: 5px;
}

p {
  font-family: sans-serif;
  color: #303030;
}

button {
  font-family: sans-serif;
  color: #303030;
}

.btn-secondary {
  width: 150px;
}

form {
  margin: 0 auto;
  width: 300px;
}

.btn-success {
  margin: 10px;
}

.img-fluid {
  padding: 30px;
}

.h2 {
  margin-top: .5rem;
}

.col-xl-6 {
  overflow-y: auto!important;
  height: 650px!important;
  overflow-wrap: break-word!important;
}