#header-row {
  background-color: #E6BD45;
  font-family: 'Bungee Shade', cursive;
  color: #303030;
  font-size: 24pt;
  }

img {
  padding: 50px;
}

p {
  font-family: sans-serif;
  color: #303030;
}

button {
  font-family: sans-serif;
  color: #303030;
}
